body {
	margin:0;
	border: 20px solid grey;
}
img {
	width: 100%;
	vertical-align: top;
<<<<<<< HEAD
=======
}
img#responsive {
	display: none;
}

@media screen and (max-width: 768px) {
	img#responsive {
		display: block;
>>>>>>> responsive
}